.container {
  display: flex;
  min-height: 100vh;
  padding: 36px;
  width: 100%;
  justify-content: center;
}

.content_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  padding: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0;
}

.pink {
  color: #df21b5;
}

.toggle_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 4rem;
  border: 1px solid #dadcde;
  border-radius: 4rem;
}

.toggle_container > button {
  /* remove all default button styling */
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  /* add custom styling */
  padding: 1rem 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 4rem;
  transition: all 0.2s ease-in-out;
  margin: 0.1rem;
}

.button_active {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 4rem;
}

.image_container {
  align-self: center;
  height: 36rem;
}

.decks {
  height: 100%;
  max-width: 100%;
  margin-top: 4rem;
  object-fit: cover;
}

.creator_container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.feature_container {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.feature {
  display: flex;
  width: 100%;
  max-width: 30rem;
  height: 200px;
  padding: 0 1rem;
  padding-left: 0;
  border: 1px solid #dadcde;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  color: #585858;
  margin-bottom: 4rem;
  align-items: center;
}

.black {
  color: #000;
}

.feature_svg_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .creator_container {
    height: 36rem;
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .content_container {
    padding: 0;
  }

  .content_container > * {
    padding: 0 1rem;
  }

  .image_container {
    padding: 0;
  }

  .title {
    font-size: 1.8rem;
  }

  .toggle_container {
    margin-top: 2rem;
    position: sticky;
    padding: 0;
  }

  .toggle_container > button {
    padding: 1rem 2rem;
    font-size: 0.8rem;
  }

  .feature {
    align-self: center;
  }

  .creator_container {
    flex-direction: column;
  }

  .image_container {
    height: 24rem;
  }
  .decks {
    margin-top: 2rem;
    overflow: hidden;
  }
}
